@charset "utf-8";
/* CSS Document */

@import url(https://fonts.googleapis.com/css?family=Open+Sans:400,400italic,700,300);

* {
	margin: 0;
}
html, body {
	height: 100%;
}
.wrapper {
	min-height: 99%;
	height: auto !important;
	height: 100%;
	margin: 0 auto -45px;
	padding:0 0 21px 0; /* the bottom margin is the negative value of the footer's height */
}
.footer, .push {
	height: 45px; /* .push must be the same height as .footer */
}

body{margin:0px; padding:0px; font-size:12px; font-family: 'Open Sans', sans-serif;, sans-serif; }
.clear{clear:both;}
.left{float:left;}
.right{float:right;}
td{vertical-align:middle;}

.form-control{width:700px;}

a.agregar{width:100px; height:50px; display:block; font-size:18px; color:#428bca; background-image:url(imagenes/iconos/09.png); background-repeat:no-repeat; padding:0 0 0 30px;}

.pie{height:50px; padding:15px 20px 30px 20px; background-color:#CCC; text-align:right; }
.pie a {color:#428bca; }

.centro{text-align:center;}
a.tabs{padding:10px; border:solid 1px #BEBEBE; cursor:pointer; display:block; width:101px; text-align:center; float:left; margin:0 2px 0 0; font-size:16px; -webkit-border-radius: 5px 5px 0 0;
border-radius: 5px 5px 0 0;}
.tabactive{background-color:#BEBEBE; color:#000;}